@include media-breakpoint-up(lg) {
  .content {
    // max-width: 1020px;
    max-width: map-get($container-max-widths, xl);
  }

  // .main {
  //   padding-right: 14px;

  //   &-row {
  //     margin-right: -7px;
  //   }
  // }

  .sidebar {
    max-width: 218px;

    &-container {
      height: 585px;
    }
  }
}
