@include media-breakpoint-up(md) {
  body {
    background-image: url(../img/bg/body/desktop.jpg);
  }

  // .icon {
  //   &-filter {
  //     background: url(../img/sprite/filter/gray.png) center center no-repeat;
  //   }

  //   &-sort {
  //     @include border("* * 2px / * * solid / *");
  //     background-image: none;

  //     &:before,
  //     &:after {
  //       @include border("2px * * / solid * * / *");
  //       padding-top: 28.57142857142857%;
  //     }

  //     &:before {
  //       width: 50%;
  //     }

  //     &:after {
  //       width: 75%;
  //     }
  //   }
  // }

  .section {
    &-title {
      font-size: #{$font-size-lg}/ 1.5;

      &--main {
        font-size: #{$h2-font-size * 1.181818181818182}/#{$headings-line-height *
          1.59375};
      }
    }

    &-container {
      &--light_bg {
        border: $border-color solid $border-width;
        border-radius: $border-radius;
      }
    }
  }

  .header {
    height: 109px;
    // margin-bottom: 13px;
  }

  // .main {
  //   &-title {
  //     padding-left: 2px;
  //   }

  //   &-container {
  //     justify-content: flex-start;
  //     @include padding("4px 19px 14px 23px");
  //   }
  // }

  .filter {
    // @include padding("* 7px 4px *");

    &-item {
      // @include margin("* 4px * 19px");
      @include margin("* #{map-get($spacers, 4)} * #{map-get($spacers, 19)}");

      &:first-child {
        // margin-right: 11px;
        margin-right: map-get($spacers, 11);
      }
    }

    &-text {
      // @include padding("* 10px");
      @include padding("* #{map-get($spacers, 10)}");
      // line-height: 60px;
    }

    &-icon {
      // size: 14px;
      size: map-get($spacers, 14);

      &--margined {
        // @include margin("* 5px");
        @include margin("* #{map-get($spacers, 5)}");
        fill: $gray-light;
      }

      &--rounded {
        @include margin("* 0");
        border-radius: 0;
        // size: 14px;
        size: map-get($spacers, 14);
        fill: $gray-200;
        background-color: rgba(0, 0, 0, 0);
      }
    }

    &-icons {
      // padding-left: 4px;
      padding-left: map-get($spacers, 4);
    }
  }

  .card {
    margin-bottom: 0;
    // @include padding("2px 7px *");
    padding-top: map-get($spacers, 2);
    // min-width: 149px;

    &-body {
      // padding-bottom: 8px !important;
      padding-bottom: map-get($spacers, 8);
    }

    &-img {
      // padding-right: 11px;
      padding-right: map-get($spacers, 11);
      max-width: 133px;
    }

    &-rating {
      // @include position("6px 2px * *");
      // @include position("#{map-get($spacers, 6)} #{map-get($spacers, 2)} * *");
      @include position(
        "-#{map-get($spacers, 2)} -#{map-get($spacers, 6)} * *"
      );
    }

    &-title {
      // margin-top: 7px;
      margin-top: map-get($spacers, 7);
      font-weight: 500;
      height: auto;
      // line-height: 20px;
      line-height: map-get($spacers, 20);
    }
  }

  .page {
    $block: &;

    &-item {
      &:first-child,
      &:last-child {
        #{$block}-link {
          justify-content: space-between;
          // @include padding("* 25px");
          @include padding("* #{map-get($spacers, 25)}");
          width: 155px;
        }
      }
    }
  }

  // .pagination {
  //   &-container {
  //     margin-top: 14px;
  //   }

  //   padding-right: 25px;
  // }

  .page {
    &-text {
      // font-size: 17px;
      font-size: $lead-font-size;
    }
  }
}
