@include media-breakpoint-up(md) {
  body {
    background-image: url(../img/bg/body/desktop.jpg);
  }

  .icon {
    $block: &;

    &--round {
      padding: 0;
      size: auto;

      // &,
      // #{$block}-symbol_wrap,
      // #{$block}-symbol {
      //   size: auto;
      // }

      #{$block}-bg {
        display: none;
      }

      // #{$block}-symbol_wrap {
      //   z-index: 1;
      //   line-height: inherit;
      // }

      &#{$block}--success,
      &#{$block}--warning,
      &#{$block}--danger {
        opacity: 1;

        #{$block}-symbol {
          fill: inherit;
        }
      }

      &#{$block}--success {
        fill: map-get($theme-colors, "success") !important;
      }

      &#{$block}--warning {
        fill: map-get($theme-colors, "warning") !important;
      }

      &#{$block}--danger {
        fill: map-get($theme-colors, "danger") !important;
      }
    }
  }

  .section {
    &-title {
      font-size: #{$font-size-lg}/ 1.5;

      &--main {
        font-size: #{$h2-font-size * 1.181818181818182}/#{$headings-line-height *
          1.59375};
      }
    }

    &-white_bg {
      border: $border-color solid $border-width;
      border-radius: $border-radius-sm;
      // box-shadow: $box-shadow;
    }
  }

  .header {
    height: 109px;
    // margin-bottom: 13px;
  }

  .main {
    // &-title {
    //   padding-left: 2px;
    // }

    &-container {
      &--blocks {
        margin-bottom: 14px;
        @include padding(
          "4px #{map-get($spacers, 19)} 14px #{map-get($spacers, 23)}"
        );

        .card {
          margin-bottom: 0;
          @include padding("2px 0 *");
          // min-width: 149px;

          &-body {
            padding-bottom: 8px;
          }

          &-img_wrap {
            padding-right: map-get($spacers, 11);
            // max-width: 133px;
          }

          &-img {
            max-width: 122px;
          }

          &-rating {
            // @include position("-2px -6px * *");
            @include position("-2px -4px * *");
          }

          &-review {
            @include position("* -1px -11px *");
          }

          &-title,
          &-subtitle {
            width: 105%;
            max-width: 105%;
          }

          &-title {
            margin-top: 7px;
            font-weight: 500;
            font-family: "NeuronAngled-DemiBold", #{$font-family-sans-serif};
            line-height: map-get($spacers, 20);
            width: 105%;
            max-width: 105%;
            max-height: map-get($spacers, 40);

            &_gradient_hidden {
              top: 50%;
              height: 50%;
            }
          }

          &-subtitle {
            position: relative;
            height: map-get($spacers, 26);
          }
        }
      }

      &--rows {
        .card {
          margin-bottom: 12px;
          @include padding("5px * 18px #{map-get($spacers, 11)}");
          min-height: 216px;

          &-body {
            @include padding(
              "* #{map-get($spacers, 14)} 9px #{map-get($spacers, 19)}"
            );
          }

          &-rating {
            right: -8px;
          }

          &-review {
            // @include position("* -5px -19px *");
            @include position("* -5px -18px *");
          }

          &-text_wrap {
            align-self: stretch;
            @include padding("10px * * #{map-get($spacers, 24)}");

            &_row {
              position: relative;
              align-content: start;
              height: 100%;
            }
          }

          &-title {
            border-bottom-width: 0;
            padding-bottom: 0;
            width: 65%;
            font-weight: normal;
            // font-size: #{map-get($spacers, 22)}/ 1.5;
            font-size: #{map-get($spacers, 22)}/#{map-get($spacers, 28)};

            &_text {
              padding-right: map-get($spacers, 14);
            }

            &_mark {
              @include margin(
                "0 * -#{map-get($spacers, 3)} -#{map-get($spacers, 4)}"
              );
              fill: #d6d6d6;

              .icon-symbol {
                size: map-get($spacers, 15);
              }
            }
          }

          &-info_wrap,
          &-separator,
          &-desc {
            display: block;
          }

          // &-title_translate,
          // &-short_text,
          // &-link,
          // &-footer {
          //   display: none;
          // }

          &-info {
            @include padding("* #{map-get($spacers, 6)}");

            &_item {
              // @include padding("8px  * 0 8px");
              @include padding("6px * 0 #{map-get($spacers, 8)}");

              &--stars {
                padding-right: map-get($spacers, 7);
                min-width: 57px;
              }

              &--reviews {
                min-width: 60px;
              }

              &--comments {
                min-width: 63px;
              }
            }

            &_icon {
              fill: $gray-light;

              &--comment {
                margin-right: map-get($spacers, 8);
              }
            }

            &_number {
              font-size: $font-size-base;
              color: $gray-200;
            }
          }

          &-categories_wrap {
            @include padding("5px * 0");
            width: 44%;
            max-width: 44%;
          }

          &-subtitle {
            display: flex;
            // align-items: center;
            @include padding("1px * * #{map-get($spacers, 1)}");
            height: map-get($spacers, 24);

            &_badge {
              align-self: center;
              // @include margin("* #{map-get($spacers, 8)} * 0");
              @include margin("* #{map-get($spacers, 9)} * 0");
              border-radius: map-get($spacers, 9);
              // @include padding(
              //   "* #{map-get($spacers, 6)} * #{map-get($spacers, 9)}"
              // );
              @include padding(
                "* #{map-get($spacers, 5)} * #{map-get($spacers, 8)}"
              );
              font-size: #{map-get($spacers, 15)}/#{map-get($spacers, 19)};
              background-color: #bfbfbf;
            }

            &_gradient_hidden {
              display: block;
            }
          }

          &-categories {
            display: flex;
            // margin-left: -3px;
            margin-left: -#{map-get($spacers, 2)};

            &_item {
              margin-right: 1px;
              @include padding("15px 0 *");
              width: map-get($spacers, 36);
            }

            &_icon {
              @include padding("* #{map-get($spacers, 3)}");
              size: 100% map-get($spacers, 30);
            }

            &_text {
              display: block;
              padding-top: 1px;
              text-align: center;
              color: $gray-200;
            }
          }

          &-short_text,
          &-desc {
            line-height: map-get($spacers, 25);
            color: $gray-500;
          }

          &-short_text {
            @include padding("2px * * #{map-get($spacers, 4)}");
          }

          &-desc {
            // @include position("absolute * 129px 0 *");
            @include position("absolute * 128px 0 *");
            // width: 53%;
            width: 190px;
            font-size: #{$lead-font-size};
          }
        }
      }
    }
  }

  .filter {
    $block: &;

    // @include padding("* 7px 4px *");

    &-item {
      @include margin("* #{map-get($spacers, 4)} * #{map-get($spacers, 19)}");

      &:first-child {
        margin-right: map-get($spacers, 11);
      }
    }

    &-link--switcher .icon {
      @include margin("* #{map-get($spacers, 5)} * #{map-get($spacers, 4)}");
      fill: $gray-light;
    }

    &-text {
      @include padding("* #{map-get($spacers, 10)}");
    }

    &-icon {
      // &--margin,
      // &--round .icon-symbol {
      //   size: map-get($spacers, 14);
      // }

      &--round {
        @include margin("* 0");

        .icon-symbol {
          fill: $gray-200;
        }
      }

      // &--margin {
      //   @include margin("* #{map-get($spacers, 5)}");
      //   fill: $gray-light;
      // }
    }

    // &-icons {
    //   padding-left: map-get($spacers, 4);
    // }
  }

  .card {
    &-title {
      height: auto;
    }

    &-subtitle_gradient_hidden {
      display: block;
    }
  }

  // .pagination {
  //   &-container {
  //     margin-top: 14px;
  //   }

  //   padding-right: 25px;
  // }

  .page {
    $block: &;

    &-item {
      &:first-child,
      &:last-child {
        #{$block}-link {
          justify-content: space-between;
          @include padding("* #{map-get($spacers, 25)}");
          width: 155px;
        }
      }
    }

    &-text {
      font-size: $lead-font-size;
    }
  }
}
