@include media-breakpoint-up(sm) {
  .filter {
    $height: 60px;

    &-item {
      height: $height;

      &--d_flex {
        display: flex;
        align-items: center;
      }
    }

    &-text {
      padding-right: 0;
      line-height: $height;
    }
  }
}
