- var mainMenu = ["афиша", "медиа", "киноцензор", "рейтинги", "идеи", "войти"]
-
  var movies = [
    {
      title: "Бесконечно белый медведь",
      translate: "Infinitely polar bear",
      date: 2015,
      genre: "комедия",
      status: 9.3,
      text: "2015, Фильм, 106 мин. Боевик, драма, биография Китай, США, Канада Режисёр: Джеймс Кэмерон",
      category: "Топ 100 лучших фильмов",
      marked: false,
      statistics: {
        stars: 392,
        reviews: 47,
        comments: 578
      },
      reviews: [{positive: "6,2", negative: "3,8"}, 7, 10, 0, 10, 2, 2]
    },
    //- {
    //-   //- title: "Путешествие из Парижа",
    //-   title: "Кто такой Гарри Келлерман и почему он говорит обо мне ужасные вещи?",
    //-   translate: "Who Is Harry Kellerman and Why Is He Saying Those Terrible Things About Me?",
    //-   date: 2015,
    //-   genre: "комедия",
    //-   status: 5.8,
    //-   text: "2011, Фильм, 120 мин. Драма, военный Великобритания, Франция Режисёр: Стивен Спилберг",
    //-   category: "",
    //-   marked: true,
    //-   statistics: {
    //-     stars: 105,
    //-     reviews: 6,
    //-     comments: 57
    //-   },
    //-   reviews: [{positive: "4,7", negative: "5,3"}, 7, 10, 5, 0, 5, 9]
    //- },
    //- {
    //-   title: "Побудь в моей шкуре",
    //-   translate: "Infinitely polar bear",
    //-   date: 2014,
    //-   genre: "фантастика",
    //-   status: 2.4,
    //-   text: "",
    //-   category: "",
    //-   marked: false,
    //-   statistics: {
    //-     stars: 392,
    //-     reviews: 47,
    //-     comments: 578
    //-   },
    //-   reviews: [{positive: "6,2", negative: "3,8"}, 7, 10, 0, 10, 2, 2]
    //- },
    //- {
    //-   title: "Матрос Железняк",
    //-   translate: "Infinitely polar bear",
    //-   date: 1985,
    //-   genre: "драма",
    //-   status: 9.3,
    //-   text: "",
    //-   category: "Топ 100 лучших фильмов",
    //-   marked: false,
    //-   statistics: {
    //-     stars: 105,
    //-     reviews: 6,
    //-     comments: 57
    //-   },
    //-   reviews: [{positive: "4,7", negative: "5,3"}, 7, 10, 5, 0, 5, 9]
    //- },
    //- {
    //-   title: "Сила воли",
    //-   translate: "Infinitely polar bear",
    //-   date: 2016,
    //-   genre: "драма",
    //-   status: 5.8,
    //-   text: "",
    //-   category: "",
    //-   marked: false,
    //-   statistics: {
    //-     stars: 392,
    //-     reviews: 47,
    //-     comments: 578
    //-   },
    //-   reviews: [{positive: "6,2", negative: "3,8"}, 7, 10, 0, 10, 2, 2]
    //- }
  ]
