extends ../layout

block content
	.section.section--tabs_wrap
		.row.section-header
			.col-12.col-md-auto.navbar.section-top
				h3.navbar-brand.section-top_title Фильтр
				//- button.btn.btn-link(type="reset") Сбросить
			+tabs(tabs.carousel)
		.row.section-body
			+display-cards(movies)
			.section-footer

	.section.section--whole
		ul.nav.section-header
			li.nav-item.dropdown
				a.nav-link.dropdown-toggle(data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false") Dropdown
				.dropdown-menu
					a.dropdown-item(href="#") Action
					a.dropdown-item(href="#") Another action
					a.dropdown-item(href="#") Something else here
					.dropdown-divider
					a.dropdown-item(href="#") Separated link
			li.nav-item
				a.nav-link(href="#") Link
		.row.section-body
			+display-cards(movies)
		.section-footer

	.section.section--tabs_wrap
		.row.section-header
			.col-12.col-md-auto.navbar.section-top
				h3.navbar-brand.section-top_title Фильтр
				ul.nav
					li.nav-item
						a.nav-link(href="#") Новые
					li.nav-item
						a.nav-link(href="#") Лучшие за неделю
			+tabs(tabs.comments)
		.row.section-body
			+display-cards(movies)
			.section-footer
