-
	var tabs = {
		carousel: ["Сегодня в кино", "Скоро в кино", "Популярное на ТВ"],
		comments: ["Рецензии", "Отзывы", "Комментарии"]
	}

-
	var dropdownMenu = {
		reviews: {title: "Видеообзоры", button: "Ещё"},
		new: {title: "", button: ""}
	}
