.icon {
  $block: &;

  display: inline-block;
  line-height: 0;
  // overflow: hidden;

  &,
  &-symbol_wrap {
    position: relative;
  }

  &-symbol_wrap,
  &-symbol {
    size: 100%;
  }

  &-symbol_wrap {
    z-index: 1;
    // line-height: $font-size-base;
    line-height: inherit;
  }

  &-angle {
    &_left {
      transform: rotate(90deg);
    }

    &_right {
      transform: rotate(-90deg);
    }
  }

  &--round {
    padding: map-get($spacers, 8);
    size: map-get($spacers, 31);

    &,
    #{$block}-symbol_wrap {
      position: relative;
    }

    #{$block}-bg {
      size: 100%;
    }

    #{$block}-bg {
      @include position("absolute 0 * * 0");
      border-radius: 50%;
    }

    #{$block}-symbol {
      fill: inherit;
    }

    &#{$block}--success,
    &#{$block}--warning,
    &#{$block}--danger {
      opacity: 0.5;

      #{$block}-symbol {
        fill: $white;
      }
    }

    &#{$block}--success {
      #{$block}-bg {
        background-color: map-get($theme-colors, "success") !important;
      }
    }

    &#{$block}--warning {
      #{$block}-bg {
        background-color: map-get($theme-colors, "warning") !important;
      }
    }

    &#{$block}--danger {
      #{$block}-bg {
        background-color: map-get($theme-colors, "danger") !important;
      }
    }
  }

  &#{$block}--success {
    fill: map-get($theme-colors, "success") !important;
  }

  &#{$block}--warning {
    fill: map-get($theme-colors, "warning") !important;
  }

  &#{$block}--danger {
    fill: map-get($theme-colors, "danger") !important;
  }
}
