@import "mixins";
@import "fonts";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "template/import";

body {
  background-image: url(../img/bg/body/mobile.jpg);
}

svg path {
  fill: inherit;
  stroke: inherit;
}

.header {
  // margin-bottom: 12px;
  height: 100px;
  background-color: $gray-900;
}

.navbar {
  &-toggler {
    border-width: 0;

    &-icon {
      background-image: none !important;
      // size: 24px 19px;
      size: map-get($spacers, 24) map-get($spacers, 19);
      fill: $gray-300;
    }
  }

  &-brand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // size: 56px 36px;
    size: map-get($spacers, 56) map-get($spacers, 36);
    overflow: hidden;

    &_icon {
      display: block;
      size: 100% auto;

      &--cinema {
        height: 10px;
        fill: $white;
      }

      &--censor {
        height: 21px;
        fill: $green;
      }
    }
  }
}

.search {
  &-icon {
    padding: 0;
    // size: 20px;
    size: map-get($spacers, 20);
    fill: $gray-300;
  }
}

.letters {
  &-icon {
    size: 29px 25px;
    fill: $gray-300;
  }
}

// .content {
//   max-width: 100%;
// }

.main {
  // padding-right: 0;

  &-row {
    margin-right: 0;
    padding-right: 11px;
  }

  // &-top {
  //   padding-left: 8px;
  // }

  &-container {
    justify-content: space-around;

    &--blocks {
      margin-bottom: 20px;
      @include padding("* * 37px 27px");
      background-color: $white;

      .card {
        &-title {
          overflow: hidden;
        }
      }
    }

    &--rows {
      padding-right: 0;

      .card {
        flex-grow: 1;
        flex-basis: auto;
        margin-bottom: 20px;
        @include padding("9px 0 *");
        width: 100%;
        background-color: $white;

        &-body {
          @include padding(
            "* #{map-get($spacers, 14)} 9px #{map-get($spacers, 19)}"
          );
        }

        &-tab {
          @include position("absolute 4px * * 0");
          border-top-left-radius: map-get($spacers, 3);
          border-top-right-radius: map-get($spacers, 3);
          line-height: $lead-font-size;
          size: map-get($spacers, 27);
          text-align: center;
          color: $white $gray-200;
        }

        &-review {
          @include position("* 5px -12px *");
        }

        &-text_wrap {
          @include padding("13px * * #{map-get($spacers, 3)}");
        }

        &-row_elem {
          display: block;

          &--d_inline_block {
            display: inline-block;
          }
        }

        &-icon {
          display: inline-block;
          size: map-get($spacers, 15);
        }

        &-title {
          margin-top: 0;
          border-bottom: 1px solid #eaeaea;
          padding-bottom: 13px;
          height: auto;
          font-size: #{map-get($spacers, 20)}/ 1.4;

          &_row {
            position: relative;
          }

          &_text {
            padding-right: map-get($spacers, 11);
          }

          &_mark {
            @include margin(
              "-#{map-get($spacers, 1)} * -#{map-get($spacers, 10)} -#{map-get($spacers, 5)}"
            );
            fill: #bebebe;

            .icon-bg {
              background-color: #ececec;
            }
          }

          &_translate {
            padding-top: 1px;
            font-weight: normal;
            font-size: #{$lead-font-size}/#{map-get($spacers, 21)};
            color: $gray-500;
          }
        }

        &-text_gradient_hidden {
          display: none;
        }

        &-list_item {
          border-style: none;
        }

        &-info {
          @include padding("* #{map-get($spacers, 12)}");

          &_item {
            display: flex;
            align-items: center;
            @include padding("* #{map-get($spacers, 10)}");

            &--stars {
              min-width: 67px;
            }

            &--reviews {
              min-width: 66px;
            }

            &--comments {
              min-width: 71px;
            }
          }

          &_icon {
            margin-right: map-get($spacers, 8);
            fill: $gray-light;

            &--review {
              width: map-get($spacers, 22);
            }

            &--comment {
              margin-right: map-get($spacers, 9);
              width: map-get($spacers, 18);
            }
          }

          &_number {
            font-size: $lead-font-size;
            color: $gray-500;
          }
        }

        &-categories_wrap {
          @include padding("9px * 1px");
        }

        &-subtitle,
        &-short_text {
          font-size: #{$lead-font-size}/#{map-get($spacers, 24)};
        }

        &-subtitle {
          height: auto;

          &_badge {
            margin-left: map-get($spacers, 9);
            border-radius: map-get($spacers, 6);
            padding: 0 map-get($spacers, 2) 0 map-get($spacers, 4);
            font-weight: normal;
            font-size: #{map-get($spacers, 12)}/#{map-get($spacers, 13)};
            color: $white $gray-light;
          }
        }

        &-short_text {
          padding-top: 9px;
          color: $gray-700;
        }

        &-link {
          margin-left: -#{map-get($spacers, 5)};
          font-size: #{$lead-font-size}/#{map-get($spacers, 26)};
        }

        &-footer {
          @include padding("* 0");
          border-top: 1px solid #eaeaea;
          min-height: 52px;
          background-color: inherit;
        }
      }
    }
  }
}

.filter {
  $block: &;

  // @include padding("* 5px 6px *");

  &-link,
  &-icons {
    display: flex;
    align-items: center;
  }

  &-link {
    justify-content: space-between;

    &--p_0 {
      padding: 0;
    }

    &--active {
      #{$block}-icon {
        fill: $green !important;
      }
    }
  }

  // &-icons {
  //   padding-right: 1px;
  //   padding-right: map-get($spacers, 1);
  // }

  &-text {
    @include padding("* #{map-get($spacers, 6)}");
    display: block;
    font-size: #{$lead-font-size}/#{map-get($spacers, 49)};
    color: $gray-500;
  }

  &-icon {
    &--rounded {
      margin-left: map-get($spacers, 5);

      .icon-bg {
        background-color: $gray-light;
      }

      .icon-symbol {
        fill: #f7f7f7;
      }
    }

    &--margined {
      margin-left: map-get($spacers, 9);
      size: $spacer;
      fill: $gray-200;
    }
  }
}

.card {
  flex-grow: 0;
  margin-bottom: -6px;
  @include padding("5px #{map-get($spacers, 6)} *");
  min-width: auto;

  &-body {
    padding-bottom: 0;
  }

  &-img_cover,
  &-img_wrap {
    position: relative;
  }

  &-img_wrap {
    @include padding("21px #{map-get($spacers, 14)} * *");
    // width: auto;
    // max-width: 113px;
    overflow: hidden;
  }

  &-img {
    border-radius: 5px;
    width: auto;
    max-width: 99px;
  }

  &-img_icon {
    &,
    &_bg {
      position: absolute;
    }

    &_bg {
      fill: $white;
    }
  }

  &-rating {
    $elem: &;

    // @include position(
    //   "absolute #{map-get($spacers, 4)} #{map-get($spacers, 5)} * *"
    // );
    @include position("-4px -3px * *");
    // size: 49px 46px;
    size: 48px 45px;
    text-align: center;
    // background-image: url(../img/bg/star.png);

    &_star {
      // @include padding("* 5px");
      // @include padding("* #{map-get($spacers, 5)}");
      // size: 100%;
      // stroke-width: 5px;
      // stroke: $green;
      // position: absolute;
      fill: $green;
    }

    &_text {
      // @include position("absolute 0 0 *");
      // position: relative;
      // z-index: 1;
      // line-height: map-get($spacers, 49);
      display: block;
      font-size: #{map-get($spacers, 15)}/#{map-get($spacers, 50)};
      color: $white;
    }

    &--warning {
      #{$elem}_star {
        fill: $orange;
      }

      #{$elem}_text {
        // text-shadow: 0 1px rgba(148, 110, 0, 0.41);
        text-shadow: 0 map-get($spacers, 1) rgba(148, 110, 0, 0.41);
      }
    }

    &--danger {
      #{$elem}_star {
        fill: $red;
      }
    }
  }

  &-review {
    @include position("* 6px -8px *");
    size: 49px;
    // background-image: url(../img/sprite/review.png);

    &_bg {
      opacity: 0.7;
    }

    &_icon {
      fill: $gray-500;
    }
  }

  &-text_wrap_row {
    justify-content: space-between;
  }

  &-title {
    position: relative;
    margin-top: 10px;
    size: 100% map-get($spacers, 21);
  }

  &-text_gradient_hidden {
    @include position("absolute 0 0 * *");
    size: map-get($spacers, 24) 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), $white 30%);
  }

  &-row_elem,
  &-info_wrap,
  &-separator,
  &-categories,
  &-desc {
    display: none;
  }

  &-subtitle {
    position: relative;
    line-height: map-get($spacers, 26);
    height: map-get($spacers, 26);
    overflow: hidden;
  }
}

// .pagination {
//   &-container {
//     margin-top: 20px;
//     padding-left: 18px;
//   }

//   margin-bottom: 9px;
//   padding-right: 19px;
// }

.page {
  $block: &;

  &-item {
    &:first-child,
    &:last-child {
      #{$block}-link {
        display: flex;
        justify-content: center;
        align-items: center;
        size: map-get($spacers, 40) map-get($spacers, 36);
      }
    }

    &.active {
      #{$block}-link {
        font-weight: bold;
      }
    }
  }

  &-link {
    margin-left: map-get($spacers, 7);
    width: map-get($spacers, 36);
    text-align: center;
    box-shadow: $box-shadow;
  }

  &-icon {
    size: map-get($spacers, 10);
    fill: $gray-200;
  }

  &-text {
    display: block;
  }

  &-status {
    font-size: #{$lead-font-size}/#{map-get($spacers, 36)};
    color: $gray-200;
  }
}

.sidebar {
  max-width: 216px;

  &-container {
    height: 585px;
  }
}

@import "adaptive/import";
@import "pixel-perfect";
