@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "mixins";
@import "template/import";

body {
  background-image: url(../img/bg/body/mobile.jpg);
}

.header {
  // margin-bottom: 12px;
  height: 100px;
  background-color: $gray-900;
}

.navbar-toggler {
  border-width: 0;

  &-icon {
    background-image: none !important;
    // size: 24px 19px;
    size: map-get($spacers, 24) map-get($spacers, 19);
    fill: $gray-300;
  }
}

.search {
  &-icon {
    padding: 0;
    // size: 20px;
    size: map-get($spacers, 20);
    fill: $gray-300;
  }
}

.logo {
  line-height: $navbar-brand-height;

  &-text {
    display: block;
    // padding-top: 6px;

    &--light {
      // @include padding("* 7px 6px");
      @include padding("* 7px * *");
      color: $white;
    }

    &--dark {
      // @include padding("* 5px 12px");
      @include padding("* 5px *");
      color: $gray-900 $green;
    }
  }
}

// .content {
//   max-width: 100%;
// }

.main {
  // padding-right: 0;

  &-row {
    margin-right: 0;
    // padding-right: 11px;
    padding-right: map-get($spacers, 11);
  }

  // &-top {
  //   padding-left: 8px;
  // }

  &-container {
    justify-content: space-around;
    // @include padding("* * 37px 27px");
  }
}

.filter {
  $block: &;

  // @include padding("* 5px 6px *");

  &-link,
  &-icons {
    display: flex;
    align-items: center;
  }

  &-link {
    justify-content: space-between;
    // height: 100%;

    &--p_0 {
      padding: 0;
    }

    &--active {
      #{$block}-icon {
        fill: $green !important;
      }
    }
  }

  // &-icons {
  //   padding-right: 1px;
  //   padding-right: map-get($spacers, 1);
  // }

  &-text {
    // @include padding("* 6px");
    @include padding("* #{map-get($spacers, 6)}");
    display: block;
    // font-size: 17px/49px;
    font-size: #{$lead-font-size}/#{map-get($spacers, 49)};
    color: $gray-500;
  }

  &-icon {
    &--rounded {
      // @include margin("* -1px * 6px");
      // @include margin("* -#{map-get($spacers, 1)} * #{map-get($spacers, 6)}");
      margin-left: map-get($spacers, 5);
      // @include padding("8px 7px 7px 8px");
      // @include padding(
      //   "#{map-get($spacers, 8)} #{map-get($spacers, 7)} #{map-get($spacers, 7)} #{map-get($spacers, 8)}"
      // );

      .icon-bg {
        background-color: $gray-light;
      }

      .icon-symbol {
        fill: #f7f7f7;
      }
    }

    &--margined {
      // margin-left: 10px;
      // margin-left: map-get($spacers, 10);
      margin-left: map-get($spacers, 9);
      // size: 16px;
      size: $spacer;
      fill: $gray-200;
    }
  }
}

.card {
  $block: &;

  flex-grow: 0;
  // margin-bottom: -6px;
  margin-bottom: -#{map-get($spacers, 6)};
  // @include padding("5px 6px *");
  @include padding("#{map-get($spacers, 5)} #{map-get($spacers, 6)} *");
  min-width: auto;

  // &-group {
  //   @include padding("* 19px * 23px");
  // }

  // &-body,
  // &-img_wrap {
  //   position: relative;
  // }

  &-body {
    padding-bottom: 0;
  }

  &-img_wrap {
    position: relative;
  }

  &-img {
    // @include padding("21px 14px * *");
    @include padding("#{map-get($spacers, 21)} #{map-get($spacers, 14)} * *");
    width: auto;
    // width: 113px;
    // height: 171px;
    max-width: 113px;
    // border-radius: 0;
    overflow: hidden;
  }

  &-rating {
    $elem: &;

    // @include position("absolute 4px 5px * *");
    // @include position(
    //   "absolute #{map-get($spacers, 4)} #{map-get($spacers, 5)} * *"
    // );
    @include position(
      "absolute -#{map-get($spacers, 4)} -#{map-get($spacers, 3)} * *"
    );
    // size: 49px 46px;
    size: map-get($spacers, 49) map-get($spacers, 46);
    // font-size: 15px;
    font-size: $font-size-lg * 0.9375;
    text-align: center;
    color: $white;
    background-image: url(../img/sprite/star.png);

    &_star {
      // @include padding("* 5px");
      @include padding("* #{map-get($spacers, 5)}");
      size: 100%;
      stroke-width: 5px;
      stroke: $green;
      fill: $green;
    }

    &_text {
      @include position("absolute 0 0 *");
      // padding-top: 14px;
      padding-top: map-get($spacers, 14);
      size: 100%;
    }

    &--warning {
      #{$elem}_star {
        stroke: $orange;
        fill: $orange;
      }

      #{$elem}_text {
        text-shadow: 0 1px rgba(148, 110, 0, 0.21);
      }
    }

    &--danger {
      #{$elem}_star {
        stroke: $red;
        fill: $red;
      }
    }
  }

  &-review {
    // @include position("absolute 141px 14px * *");
    // @include position(
    //   "absolute #{map-get($spacers, 50) * 2 + map-get($spacers, 41)} #{map-get($spacers, 14)} * *"
    // );
    @include position(
      "absolute #{map-get($spacers, 50) * 2 + map-get($spacers, 33)} #{map-get($spacers, 6)} * *"
    );
    // size: 49px 50px;
    size: map-get($spacers, 49) map-get($spacers, 50);
    background-image: url(../img/sprite/review.png);
  }

  &-title {
    position: relative;
    // margin-top: 10px;
    margin-top: map-get($spacers, 10);
    overflow: hidden;
    // height: 21px;
    size: 100% map-get($spacers, 21);

    &_hidden {
      @include position("absolute 0 0 * *");
      // size: 24px;
      size: map-get($spacers, 24);
      background: linear-gradient(to right, rgba(0, 0, 0, 0), $white 30%);
    }
  }

  &-row_elem,
  &-info_wrap,
  &-text {
    display: none;
  }

  &-icon {
    // size: 15px;
    size: map-get($spacers, 15);
  }

  &-subtitle {
    display: flex;
    line-height: 1.857142857142857;
  }

  &--row {
    flex-grow: 1;
    flex-basis: auto;
    // @include padding("9px * * 11px");
    @include padding("#{map-get($spacers, 9)} * * #{map-get($spacers, 11)}");
    width: 100%;
    background-color: $white;

    #{$block}-text_wrap {
      @include padding("11px * * 3px");
    }

    // #{$block}-img {
    //   @include padding("#{map-get($spacers, 21)} #{map-get($spacers, 14)} * *");
    //   max-width: 99px;
    // }

    #{$block}-icon {
      display: inline-block;
    }

    #{$block}-row_elem,
    #{$block}-text--short {
      display: block;
    }

    #{$block}-row_elem--d_inline_block {
      display: inline-block;
    }

    #{$block}-title {
      margin-top: 0;
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 13px;
      height: auto;
      font-size: #{map-get($spacers, 20)}/ 1.4;

      &_row {
        align-items: center;
        padding-bottom: 1px;
      }

      &_text {
        padding-right: 11px;
      }

      &_hidden {
        display: none;
      }

      &_translate {
        font-size: #{$lead-font-size}/ 1.235294117647059;
      }
    }

    #{$block}-mark {
      .icon-bg {
        background-color: #ececec;
      }

      .icon-symbol {
        fill: #bebebe;
      }
    }
  }
}

// .pagination {
//   &-container {
//     margin-top: 20px;
//     padding-left: 18px;
//   }

//   margin-bottom: 9px;
//   padding-right: 19px;
// }

.page {
  $block: &;

  &-item {
    &:first-child,
    &:last-child {
      #{$block}-link {
        display: flex;
        justify-content: center;
        align-items: center;
        // size: 40px 36px;
        size: map-get($spacers, 40) map-get($spacers, 36);
      }
    }

    &.active {
      #{$block}-link {
        font-weight: bold;
      }
    }
  }

  &-link {
    // margin-left: 7px;
    margin-left: map-get($spacers, 7);
    // width: 36px;
    width: map-get($spacers, 36);
    text-align: center;
  }

  &-icon {
    // size: 10px;
    size: map-get($spacers, 10);
    fill: $gray-200;
  }

  &-text {
    display: block;
  }

  &-status {
    // font-size: 17px/36px;
    font-size: #{$lead-font-size}/#{map-get($spacers, 36)};
    color: $gray-200;
  }
}

.sidebar {
  max-width: 216px;

  &-container {
    height: 585px;
  }
}

@import "adaptive/import";

// @include pixelPerfect("mobile-blocks.jpg");
@include pixelPerfect("mobile-rows.jpg");
// @include pixelPerfect("desktop-blocks.jpg");
