@import "mixins";
@import "fonts";
@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "template/import";

body {
  background-image: url(../img/bg/body/mobile.jpg);
}

svg path {
  fill: inherit;
  stroke: inherit;
}

.header {
  // margin-bottom: 12px;
  height: 100px;
  background-color: $gray-900;
}

.navbar {
  &-toggler {
    border-width: 0;

    &-icon {
      background-image: none !important;
      // size: 24px 19px;
      size: map-get($spacers, 24) map-get($spacers, 19);
      fill: $gray-300;
    }
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // size: 56px 36px;
  size: map-get($spacers, 56) map-get($spacers, 36);
  overflow: hidden;

  &_icon {
    display: block;
    size: 100% auto;

    &--cinema {
      height: 10px;
      fill: $white;
    }

    &--censor {
      height: 21px;
      fill: $green;
    }
  }
}

.search {
  &-icon {
    padding: 0;
    // size: 20px;
    size: map-get($spacers, 20);
    fill: $gray-300;
  }
}

.letters {
  &-icon {
    size: 29px 25px;
    fill: $gray-300;
  }
}

// .content {
//   max-width: 100%;
// }

.main {
  // padding-right: 0;
  @include margin("* auto");
  max-width: 345px;

  &-row {
    // margin-right: 0;
    // @include margin("* 0");
    // padding-right: 11px;
    padding-right: 15px;
  }

  // &-top {
  //   padding-left: 8px;
  // }

  // &-container {
  //   display: flex;
  //   flex-wrap: wrap;
  //   // justify-content: space-around;

  //   &--blocks {
  //     // @include padding("* 11px 37px 27px");
  //     @include padding("* 3.4375% 37px 8.4375%");
  //     background-color: $white;
  //   }

  //   &--rows {
  //     padding-right: 0;
  //   }
  // }
}

.filter {
  $block: &;

  // @include padding("* 5px 6px *");

  &-link,
  &-icons {
    display: flex;
    align-items: center;
  }

  &-link {
    justify-content: space-between;

    &--switcher {
      padding: 0;

      .icon {
        margin-left: map-get($spacers, 9);
        size: $spacer map-get($spacers, 15);
        fill: $gray-200;
      }
    }

    // &--active {
    //   .icon {
    //     fill: $green !important;
    //   }
    // }
  }

  // &-icons {
  //   padding-right: map-get($spacers, 1);
  // }

  &-text {
    @include padding("* #{map-get($spacers, 6)}");
    display: block;
    // font-size: #{$lead-font-size}/#{map-get($spacers, 49)};
    line-height: map-get($spacers, 50);
    color: $gray-500;
  }

  &-icon {
    &--round {
      margin-left: map-get($spacers, 5);

      .icon-bg {
        background-color: $gray-light;
      }

      .icon-symbol {
        fill: #f7f7f7;
      }
    }

    &--filter {
      size: $spacer;
    }

    &--sort {
      size: map-get($spacers, 11);
    }
  }
}

.btn {
  &-secondary {
    box-shadow: none;
  }

  &-outline-secondary {
    &,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:hover {
      color: $input-color transparent;
    }

    border-color: $input-border-color;

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:hover {
      border-color: $green;
    }

    &:focus,
    &.focus,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus {
      box-shadow: none;
    }
  }
}

.nav {
  $block: &;

  &-tabs {
    position: relative;
    @include padding("* #{map-get($spacers, 8)}");
    background-color: $white;

    // &,
    // &:after {
    //   border-top: 1px solid #eaeaea;
    // }

    &:after {
      @include position("absolute * * 0 0");
      display: block;
      border-top: 1px solid #eaeaea;
      width: 100%;
      content: "";
    }

    #{$block}-item {
      margin-bottom: 0;
      position: relative;
      z-index: 1;
    }

    #{$block}-link {
      // padding: 0;
      line-height: map-get($spacers, 50);
      color: $gray-200;

      &.active {
        // padding-bottom: map-get($spacers, 9);
        padding-top: map-get($spacers, 3);
        border-bottom-width: 4px;
        line-height: map-get($spacers, 44);
      }
    }
  }
}

.filter_form {
  margin-bottom: 20px;
  // size: 100% 490px;

  &-reset {
    font-size: #{map-get($spacers, 15)}/#{map-get($spacers, 49)};
    color: $gray-500;
  }

  &-row {
    @include margin("* 0");
    // @include padding("20px 16px 21px 18px");
    @include padding("19px 10px 21px 12px");
  }

  &-channel_wrap {
    display: none;
  }

  &-channel {
    @include padding("* #{$input-padding-x}");
    width: 100%;
    text-align: left;
    font-size: #{$input-font-size}/ 2.4375rem;
  }

  &-control--active,
  &_category {
    display: flex;
    flex-wrap: wrap;
    border-radius: $border-radius;
  }

  &-control_wrap {
    margin-top: 11px;
  }

  &-control {
    &--active {
      border: 1px solid $green;
      padding: 8px 8px 2px;
    }
  }

  &_category {
    @include margin("* 7px 6px *");
    @include padding("* 6px * 7px");
    font-size: #{$small-font-size}/#{map-get($spacers, 23)};
    color: $white $gray-200;

    &-text {
      margin-right: 8px;
    }

    &-close {
      align-self: center;
      size: map-get($spacers, 8);
      fill: $white;
    }
  }

  &-btns {
    margin-top: 17px;
    // border-width: 1px;
    @include padding("* 0");
    // width: 100%;
    // box-shadow: none;
  }
}

.card {
  $block: &;

  flex-grow: 0;
  // @include padding("5px #{map-get($spacers, 6)} *");
  @include padding("* 0");
  min-width: auto;

  &-body {
    padding-bottom: 0;
  }

  &-img_cover,
  &-img_wrap {
    position: relative;
  }

  &-img_wrap {
    @include padding("21px #{map-get($spacers, 14)} * *");
    // width: auto;
    // max-width: 113px;
    overflow: hidden;
  }

  &-img {
    border-radius: $border-radius;
    width: auto;
    max-width: 99px;
  }

  &-img_icon {
    &,
    &_bg {
      position: absolute;
    }

    // &_bg #pstar-bg {
    //   fill: $white;
    // }
  }

  &-rating {
    $elem: &;

    // @include position(
    //   "absolute #{map-get($spacers, 4)} #{map-get($spacers, 5)} * *"
    // );
    // @include position("-3px -4px * *");
    // @include position("-4px -3px * *");
    @include position("-2px -2px * *");
    // size: 49px 46px;
    // size: 48px 45px;
    size: 45px 42px;
    text-align: center;
    // background: url(../img/bg/star.png) center center no-repeat;

    // &_star {
    //   @include position("50% * * 50%");
    //   // @include padding("* 5px");
    //   // @include padding("* #{map-get($spacers, 5)}");
    //   size: 86.66666666666667% 85.71428571428571%;
    //   // size: 125%;
    //   // stroke: #000;
    //   // stroke-width: 5px;
    //   transform: translate(-50%, -50%);
    // }

    &_text {
      // @include position("absolute 0 0 *");
      // position: relative;
      // z-index: 1;
      // line-height: map-get($spacers, 49);
      display: block;
      // font-size: #{map-get($spacers, 15)}/#{map-get($spacers, 50)};
      // font-size: #{map-get($spacers, 15)}/#{map-get($spacers, 48)};
      font-size: #{map-get($spacers, 15)}/ 48px;
      color: $white;
    }

    // &--success &_star .psvg-front
    &--success &_star {
      fill: $green;
    }

    &--warning {
      // #{$elem}_star .psvg-front
      #{$elem}_star {
        fill: $orange;
      }

      #{$elem}_text {
        // text-shadow: 0 1px rgba(148, 110, 0, 0.41);
        text-shadow: 0 map-get($spacers, 1) rgba(148, 110, 0, 0.41);
      }
    }

    // &--danger &_star .psvg-front
    &--danger &_star {
      fill: $red;
    }
  }

  &-review {
    @include position("* 6px -8px *");
    size: 49px;
    // background-image: url(../img/sprite/review.png);

    // &_bg {
    //   opacity: 0.7;
    // }

    &_icon {
      // fill: $gray-500;
      fill: $black;
    }
  }

  &-title_wrap {
    justify-content: space-between;
    align-items: start;
  }

  &-title {
    position: relative;
    margin-top: 10px;
    size: 100% map-get($spacers, 21);

    &_row {
      position: relative;
      display: block;
    }
  }

  &-text_gradient_hidden {
    @include position("absolute 0 0 * *");
    size: map-get($spacers, 24) 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), $white 30%);
  }

  &-row_elem,
  &-info_wrap,
  // &-separator,
  &-categories,
  &-desc {
    display: none;
  }

  &-subtitle {
    position: relative;
    line-height: map-get($spacers, 26);
    height: map-get($spacers, 26);
    overflow: hidden;
  }

  &--block {
    @include margin("* 2.127659574468085% -6px");
    padding-top: 5px;

    #{$block}-text_span {
      display: block;
      size: 120% 100%;
    }

    #{$block}-title {
      overflow: hidden;
    }
  }

  &--row {
    flex-grow: 1;
    flex-basis: auto;
    // @include margin("20px * 0");
    margin-top: 20px;
    // @include padding("9px 0 *");
    padding-top: 9px;
    width: 100%;
    background-color: $white;

    &:first-child {
      margin-top: 0;
    }

    #{$block}-body {
      @include padding(
        "* #{map-get($spacers, 14)} 9px #{map-get($spacers, 19)}"
      );
    }

    #{$block}-tab {
      @include position("absolute 4px * * 0");
      border-top-left-radius: map-get($spacers, 3);
      border-top-right-radius: map-get($spacers, 3);
      font-size: #{$small-font-size}/#{$font-size-base};
      size: map-get($spacers, 27) 50%;
      text-align: center;
      color: $white $gray-200;
    }

    #{$block}-review {
      @include position("* 5px -12px *");
    }

    #{$block}-text_wrap {
      @include padding("13px * * #{map-get($spacers, 3)}");
    }

    #{$block}-row_elem {
      display: block;

      &--d_inline_block {
        display: inline-block;
      }
    }

    // #{$block}-text_span {
    //   font-size: $font-size-base;
    // }

    #{$block}-icon {
      display: inline-block;
      size: map-get($spacers, 15);
    }

    #{$block}-title {
      margin-top: 0;
      border-bottom: 1px solid #eaeaea;
      padding-bottom: 13px;
      height: auto;
      font-size: #{map-get($spacers, 20)}/ 1.4;

      // &_row {
      //   position: relative;
      // }

      &_text {
        padding-right: map-get($spacers, 11);
      }

      &_mark {
        @include margin(
          "-#{map-get($spacers, 1)} * -#{map-get($spacers, 10)} -#{map-get($spacers, 5)}"
        );
        fill: #bebebe;

        .icon-bg {
          background-color: #ececec;
        }
      }

      &_translate {
        // padding-top: map-get($spacers, 1);
        padding-top: map-get($spacers, 4);
        font-weight: normal;
        font-size: #{$font-size-base}/#{map-get($spacers, 21)};
        color: $gray-500;
      }
    }

    #{$block}-text_gradient_hidden {
      display: none;
    }

    #{$block}-list_item {
      border-style: none;
    }

    #{$block}-info {
      @include padding("* #{map-get($spacers, 12)}");

      &_item {
        display: flex;
        align-items: center;
        @include padding("* #{map-get($spacers, 10)}");

        &--stars {
          min-width: 67px;
        }

        &--reviews {
          min-width: 66px;
        }

        &--comments {
          min-width: 71px;
        }
      }

      &_icon {
        margin-right: map-get($spacers, 8);
        fill: $gray-light;

        &--review {
          width: map-get($spacers, 22);
        }

        &--comment {
          margin-right: map-get($spacers, 9);
          width: map-get($spacers, 18);
        }
      }

      &_number {
        // font-size: $lead-font-size;
        color: $gray-500;
      }
    }

    #{$block}-categories_wrap {
      @include padding("9px * 1px");
    }

    #{$block}-subtitle,
    #{$block}-short_text {
      font-size: #{$font-size-base}/#{map-get($spacers, 24)};
    }

    #{$block}-subtitle {
      height: auto;
      color: $gray-200;

      &_badge {
        margin-left: map-get($spacers, 9);
        border-radius: map-get($spacers, 6);
        // padding: 0 map-get($spacers, 2) 0 map-get($spacers, 4);
        padding: 0 map-get($spacers, 3) 0 map-get($spacers, 4);
        font-weight: normal;
        font-size: #{map-get($spacers, 12)}/#{map-get($spacers, 13)};
        color: $white $gray-light;
      }
    }

    #{$block}-short_text {
      padding-top: 9px;
      color: $gray-700;
    }

    #{$block}-link {
      margin-left: -#{map-get($spacers, 5)};
      line-height: map-get($spacers, 26);
    }

    #{$block}-footer {
      @include padding("* 0");
      border-top: 1px solid #eaeaea;
      min-height: 52px;
      background-color: inherit;
    }
  }
}

.pagination_container {
  margin-top: 18px;
  // padding-left: 18px;
}

// .pagination {
//   margin-bottom: 9px;
//   padding-right: 19px;
// }

.page {
  $block: &;

  &-item {
    &--back,
    &--next {
      #{$block}-link {
        display: flex;
        justify-content: center;
        align-items: center;
        // size: map-get($spacers, 40) map-get($spacers, 36);
        size: map-get($spacers, 41) map-get($spacers, 38);
      }
    }

    &.active {
      #{$block}-link {
        font-weight: bold;
      }
    }
  }

  &-link {
    // margin-left: map-get($spacers, 7);
    margin-left: map-get($spacers, 6);
    // width: map-get($spacers, 36);
    width: map-get($spacers, 38);
    // font-size: $lead-font-size;
    text-align: center;
    box-shadow: $box-shadow;
  }

  &-icon {
    // size: map-get($spacers, 10);
    size: map-get($spacers, 13);
    fill: $gray-200;
  }

  &-text {
    display: block;
  }

  &-status {
    line-height: map-get($spacers, 38);
    color: $gray-200;
  }
}

@import "adaptive/import";
@import "pixel-perfect";
